@charset "UTF-8";

/* 
Paleta de cores

cor1: #091A28
cor2: #2C4C62
cor3: #687283
cor4: #A7A3A9
cor5: #C8B4B4
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #091A28;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

section#login > div#imagem {
    background: #091A28 url(../imagens/pexels-philippedonn-1257860\ \(1\).jpg);
    height: 250px;
    background-size: cover;
    background-position: center center;
    display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}